<html>
  <body>
    <h1>Add Item</h1>
    <form method="POST" action="/">
        <input type="text" name="item">
        <input type="submit" value="Add">
    </form>

    <h1>Items</h1>
    {% for item in items %}
      <p>{{item.name}}</p>
      <form method="POST" action="./update">
        <input type="hidden" value="{{item.name}}" name="old_name">
        <input type="text" value="{{item.name}}" name="new_name">
        <input type="submit" value="Update">
      </form>
      <form method="POST" action="./delete">
        <input type="hidden" value="{{item.name}}" name="del_name">
        <input type="submit" value="Delete">
      </form>
    {% endfor %}
  </body>
</html>